.probe
.vscode
*-client.toml
*.idea*
*.lnk
*.pyc
$files/mod_codebases
$files/notes
$files/servers
command_history.txt
config/appleskin-client.toml
config/inventoryprofilesnext/New World/prev-villager-trading-config-v2.json
config/inventoryprofilesnext/New World/villager-trading-config-v2.json
config/jade
config/jei
crash-reports
downloads
easy_npc
fc2026.code-workspace
icon.png
kubejs/config
local
logs
options.txt
saves
screenshots
servers.dat_old
usercache.json
usernamecache.json
config/inventoryprofilesnext/12(slash)30/villager-trading-config-v2.json
controllable_natives
